html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}
