html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  width: 33.333%;
}

img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

@media print {
  * {
    background: transparent;
    font-size: 14px;
  }

  ::before,
  ::after {
    display: none;
  }

  img {
    /* display: none; */
  }
}

@media screen and (min-width: 1400px) {
}

@media all and (min-width: 1024px) {
}

@media (min-width: 480px) and (max-width: 1024px) {
  .img {
    /* display: none; */
  }
}

@media (min-width: 480px) and (max-width: 1024px) and (orientation: landscape) {
  .img {
    /* display: block; */
  }
}
