html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
}

#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 0;
}

.header-row {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.logo {
}

.user-box {
  margin-bottom: 70px;
}

.user-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-item {
  display: inline-block;
  vertical-align: middle;
}

.user-item + .user-item {
  padding-left: 15px;
}

.banner {
  height: 540px;
  background-image: url(/img.jpg);
  background-size: cover;
  background-position: center;
}

.row {
  margin: 0 -15px;
}

.col {
  display: inline-block;
  vertical-align: top;
  padding: 15px;
  width: 300px;
}

@media (min-width: 768px) {
  .header-row {
    flex-direction: row;
    justify-content: space-between;
  }

  .user-box {
    margin-bottom: 0;
  }

  .banner {
    height: 700px;
    background-image: url(/tablet.jpg);
  }
}

@media (min-width: 1400px) {
  .banner {
    background-image: url(/full.jpg);
  }
}
